body
{
  margin: 0;
  /* background-color: rgb(250, 235, 209); */
  background-color: rgb(252, 238, 214);

    /* background-image: url(https://images.unsplash.com/photo-1444724334165-e7050f2229a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80); */
} 

.auth {
  position: absolute;
  margin-top: -30px;
  margin-left: 5px;
  font-size: 13px;
  color: rgb(105, 38, 38);
}

.banner{
  background-image: url("./images/F_in_Tea4.png");
  background-size: cover;
  background-position: 60% 70%;
  box-shadow: 0px 0px 22px rgb(77, 38, 7);
  position: relative;
  z-index: -1;
  height: 295px; 
  color: transparent; 
  top: -20px;
  left: 0;
}

.byot-background {
  background-color: rgb(100, 42, 42);
  box-shadow: 0px 0px 30px rgb(77, 38, 7);
  overflow-x: hidden;
}

.byot-title {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 70px;
  margin-left: 80px;
  color: rgb(212, 197, 187);

}

.card {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  display: block;
  width: 300px;
  height: 350px;
  margin: 20px;
  /* margin-bottom: 150px; */
  text-align: center;
  /* color: rgb(48, 20, 20); */
  /* background-color: rgb(100, 42, 42); */
}

.coffee {
  width: 50px;
  height: 50px; 
  position: relative;
  /* display: none; */
  
}

.comments {
  position: absolute;
  margin: 50px;
  margin-left: 55px;
  margin-bottom: 20%;
  border: 2px solid rgb(48, 20, 20);
  padding: 10px 20px 20px 40px; 
  border-radius: 5px;
  max-width: 400px;
  background-color: rgba(226, 162, 137, 0.712);
}

.highfive-mush {
  position: sticky;
  margin-top: 12%;
  margin-left: 70%;
  top: 6%;
  width: auto;
  height: 17em;
}

.comments-and-mush-highfive {
  position: absolute;
  border: solid;
  bottom: -130%;
  width: 100%;
  height: 100%;
}

.comment-content {
  margin-top: 5px;
}

.comment-box {
  background-color: rgba(250, 214, 199, 0.993);
  margin-right: 5%;
  margin-bottom: 3%;
  border-radius: 5px;
  padding: 2%;
}

#container {
  position: relative;
  /* padding-bottom: 11px; */
  /* margin-top: 20px; */
  /* margin-left: 40px; */
  /* height: fit-content; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  grid-gap: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: rgb(128, 53, 88); */
  background-color: rgb(100, 42, 42);
  /* background-color: rgb(209, 135, 50); */

}

/* .discalimer-container {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: 50px;
} */

.delete-comment-btn {
  background-color: rgb(51, 33, 22);
  color: rgb(199, 190, 190);
  border-radius: 4px;
  border: none;
  padding: 9px 9px;
  margin-left: 80%;
}

.dropdown-select{
  color: rgb(48, 20, 20);
}

.dropdown-individual-option{
  color: rgb(48, 20, 20);
  background-color:  rgb(105, 38, 38);
  ;
}

.favorite-btn {
  background-color: rgb(51, 33, 22);
  color: rgb(199, 190, 190);
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 59.8em;
  margin-bottom: 42px;
  padding: 7px 10px;
  border: none;
}

.favorites-title {
  font-family: 'Shadows Into Light', cursive;
  margin: 60px 40px;
}

.fav-delete-btn {
  position: relative;
  display: flex;
  margin-top: 30px;
  margin-left: 463px;
  background-color: rgb(51, 33, 22);
  color: rgb(199, 190, 190);
  border-radius: 4px;
  padding: 11px 10px;
  border: none;
  /* box-shadow: 0px 0px 10px rgb(126, 119, 114); */

}

.fav-video-item {
  margin: 60px 720px 50px 60px;
  background-color: rgb(100, 42, 42);;
  padding: 50px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(77, 38, 7);

}

.filter-dropdown {
  color: rgb(48, 20, 20);

  /* margin-top: 10px; */
  margin-top: 70px;
  margin-left: 30px;
  /* font-family: 'Shadows Into Light', cursive;; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.flex-column {
  position: absolute;
  color: rgb(48, 20, 20);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
}

.form-error {
  color: rgb(248, 7, 7);
  font-weight: bold;
}

.health-bene-container {
  display: block;
  margin: 30px 140px 10px 40px;
  position: relative;
  /* background-color: rgb(233, 185, 173); */
  padding: 30px 20px 0px 30px;

}

.health-bene-item{
  position: relative;
  top: 0;
  left: 0;
  float: left;
  display: block;
  width: 200px;
  /* height: 350px; */
  margin: 10px;
  margin-top: 30px;
  text-align: center;
  /* border: 2px solid rgb(48, 20, 20); */
  display: flex; 
  flex-direction: column-reverse;
}

.health-bene-name {
  padding: 2px 16px;
  /* display: block; */
}

.icon {
  width: 6em;
  height: 6em;
  margin-left: 52px;
  margin-bottom: 22px;
  /* display: block; */
}

.loading {
  color: transparent;
}

.login-btn {
  background-color: rgb(51, 33, 22);
  color: rgb(199, 190, 190);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 42px;
  padding: 7px 10px;
  border: none;
  width: 100%;
}


.login-form {
  position: absolute;
  /* background-color: rgb(216, 191, 216); */
  /* background-color: rgba(226, 162, 137, 0.623); */
  /* background-color: rgba(226, 162, 137, 0.651); */
  background-color: rgba(226, 162, 137, 0.575);


  /* padding: 10px 20px; */
  padding: 120px 20px 10px 20px;
  /* opacity: .6; */
  top:20%;
  left:70%;
  right: 0;
  margin: 20px;
  max-width: 300px;
  height: 30%;
  border-radius: 5px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 92%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgba(250, 214, 199, 0.507);
  border-radius: 5px;
  z-index: 1000;
  font-size: 15px;
} 

input[type=text]:focus, input[type=password]:focus {
  /* background-color: rgba(247, 199, 180, 0.349); */
  /* background-color: rgba(240, 210, 198, 0.541); */
  background-color: rgba(243, 225, 217, 0.541);

  outline: none;
} 

::placeholder {
  color: rgb(82, 63, 57);
}



.logo-title {
  position: relative;
  top: 11.5em;
  left: 66em;
  /* border: solid white; */
  /* width: auto; */
  /* height: 20em; */
  width: 20%;
  height: 20%;
  z-index: 999;
}

.listen {
  position: absolute;
  margin-top: -11px;
  margin-left: 5px;
  width: auto;
  height: 2em;
  transition-property: height;
  transition-duration: .5s;
  transition-timing-function: ease-in;
}

.listen:hover {
  height: 2.8em;
}

.login-image {
  /* width: 1440px; */
  /* height: fixed; */
  /* max-width: 100%; */
  width: 100%;
  /* height: 100%; */
  /* object-fit: contain; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  margin: 0;
  padding: 0;
}

.main-header {
  margin: auto;
  width: 75%;
  min-height: 90px;
  padding: 1em 2em;
  border-radius: 0 0 5px 5px;
  background: rgb(8, 12, 39);
}
  .main-header:after {
    content: " ";
    display: table;
    clear: both;
  } 

.nav-container {
  position: relative;
  height: 40px;
  /* width: 30%; */
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: space-between;
  /* margin-left: 950px; */
  color: rgb(150, 132, 132);
  background-color: rgb(51, 33, 22);
  }
  
  .nav-element,
  .nav-element:link,
  .nav-element:active {
    position: relative;
    display: flex;
    padding: 0 5rem;
    color: inherit;
    text-decoration: none;
    /* margin-left: auto; */
    font-size: 15px;
    border-radius: 4pt;
  }
  
  .nav-element:hover {
    /* background-color: rgb(104, 56, 56); */
    background-color: rgb(116, 78, 78);

    /* background-color: rgb(128, 53, 88); */

    color: white;
  }

  .MuiGrid-root .MuiGrid-container{
    margin-bottom: -90px;
  }

  .mush-excited {
    margin-top: -13%;
    margin-left: 70%;
    width: auto;
    height: 12em;
    position: relative;
    top: -1em;
    left: 1em
  }
 
  .mush-img-container {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    margin-left: 50px;
  }

  .mush-img {
    width: 300px;
    height: 202px;
    display: block;
  }

  .mush-index-single-mush {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 300px;
    height: 199px;
    border-radius: 5px;
    overflow: hidden;
  }

  .mushroom-iteration-container{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 42, 42);
    border-radius: 5px;
    left: 30px;
    width: 95%;
    padding-top: 15px;
    margin-bottom: 40px;
  }

  .mush-info-card{
    position: relative;
    display: inline-block;
    width: 500px;
    color: rgb(48, 20, 20);
    padding: 1px 20px 20px 40px;
    margin-left: 50px;
    border-radius: 4px;
  }

  .mush-show-card {
    position: relative;
    top: 20px;
    left: 0;
    display: center;
    width: 300px;
    height: 218px;
    border-radius: 4px;
  }

    @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
  .mush-title {
    font-family: 'Shadows Into Light', cursive;
  }

  .mush-show-and-info-card {
    margin-top: 41px;
    margin-left: 60px;
    margin-bottom: 41px;
    background-color: rgba(226, 162, 137, 0.575);
    max-width: 1000px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 37px;
  }
  
  .name-container {
    padding: 2px 16px;
    display: block;
    /* margin: auto; */
    color: rgb(228, 204, 204);
    /* text-align: center; */

  }
  
  .popular {
    color: rgb(48, 20, 20);
  }

  .teacup{
    width: auto;
    height: 2em;
  }

  .search {
    position: relative;
    margin-top: 0px;
    /* margin-left: 40px; */
    margin-left: 40px;
    width: 66%;
    padding: 0px;
    /* float: left; */
  }

  .search-magnifying-glass {
    position: relative;
    top: 0.8em;
    margin-top: 5px;
    margin-left: -36px;
    width: auto;
    height: 1.5em;
    /* background-color: rgba(243, 225, 217, 0.541); */
    background-color: rgba(235, 208, 196, 0.781);

    padding: 6px;
    padding-top: 7px;
    /* border-radius: 5px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .sources {
    position: relative;
    margin-top: 17em;
    margin-left: 60px;
    margin-right: 240px;
    margin-bottom: -205px;
    padding: 10px 20px 20px 40px; 
    background-color: rgba(139, 78, 75, 0.281);
    border-radius: 5px;
  }

  /* .sources {
    position: relative;
    margin-top: 17em;
    margin-left: 60px;
    margin-right: 240px;
    margin-bottom: 85px;
    padding: 10px 20px 20px 40px; 
    background-color: rgba(139, 78, 75, 0.281);
    border-radius: 5px;
  } */

  .sources-btn {
      background-color: rgb(51, 33, 22);
      color: rgb(199, 190, 190);
      border-radius: 4px;
      margin-top: 10px;
      margin-left: 5%;
      margin-bottom: 42px;
      padding: 7px 10px;
      border: none;
      display: inline-block;
      width: 10%;
  }

  .sources-list {
    padding: 20px 25px 20px 20px;
    color: rgba(48, 20, 20, 0.507);
  }

  .sources-and-toggle-btn {
    position: relative;
    display: center;
    margin-top: -15px;
    margin-bottom: -65px;
    margin-right: 300px;
  }

  .sources-title {
    z-index: 999;
  }

  .trash {
    position: relative;
    display: flex;
    width: auto;
    height: 1.5em;
    margin-top: -5px;
    margin-left: 1em;
    /* padding-left: 2em; */
    /* float: left; */
  }

  .username-and-teacup {
    position: relative;
    display: inline-block;
    margin: -20px 0;
  }


@media only screen and (max-width: 724px){
  .mush-show-card {
    width: 100%;
    margin: 0px;

  }

  .mush-info-card {
    width: 100%;
  }
}